html {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#9999ff, #e6f7ff);
  }

div{
    margin: auto;
    width: 280px;
}
h2{
    text-align: center;
    color: #05151a ;
    font-weight: normal;
    margin-bottom:50px ;
    margin-top: 30px;
}
label{
    font-size: 20px;
    color: #05151a ;
}
select{
    width: 200px;
    height: 30px;
    background-color: #e6f7ff;
}
button{
    margin-top: 50px;
    width: 100%;
  background-color: #143944;
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 4px;
}
textarea{
    width: 255px;
    height: 130px;
    background-color: #e6f7ff;
}